/com/
/config.properties
/jdbc.properties
/log4j.properties
/mybatis-config.xml
/shiro-config.properties
/shiro_base_auth.ini
/spring-cache.xml
/spring-mvc.xml
/spring-mybatis.xml
/spring-shiro.xml
/spring-timer.xml
/spring.xml
